{% render "partials/head.liquid" %}

<section class="cases-section" id="content">
    
    <h1><span class="text-bold">Projecten</span> waar we trots op zijn!</h1>

    {% render 'partials/cases-card.liquid' cases: cases %}

</section>

<div class="pagination">

    {% comment %} Als de huidige pagina groter is dan 1 {% endcomment %}
    {% if currentPage > 1 %}
      <a class="red-btn" href="{% if currentPage == 2 %}/cases{% else %}/cases/page/{{ currentPage | minus: 1 }}{% endif %}">← Vorige</a>
    {% endif %}

    {% comment %} Voor alle pagina's vanaf 1  {% endcomment %}
    {% for page in (1..totalPages) %}
      {% if page == currentPage %}
        <span class="blue-btn active">{{ page }}</span>
      {% else %}
        <a class="red-btn" href="{% if page == 1 %}/cases{% else %}/cases/page/{{ page }}{% endif %}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% comment %} Als de huidige pagina kleiner is dan de totaal aantal pagina's {% endcomment %}
    {% if currentPage < totalPages %}
      <a class="red-btn" href="/cases/page/{{ currentPage | plus: 1 }}">Volgende →</a>
    {% endif %}

</div>

{% render 'partials/possibilities.liquid' %}

<script src="/scripts/menu.js"></script>
<script src="/scripts/pagination.js"></script>

{% render "partials/foot.liquid" %}