{% render "partials/head.liquid" %}

{% for case in cases %}

<ul class="breadcrumbs">
    <li><a href="/">Home</a>»</li>
    <li><a href="/cases/page/1">Cases</a>»</li>
    <li><a href="{{ case.slug }}">{{ case.title.rendered }}</a></li>
</ul>

<header class="cases-detail-banner">
    <img class="banner" src="{{ case.yoast_head_json.og_image[0].url }}" alt="" width="400" height="400">

    <section class="introductie">
        <h1>{{ case.title.rendered }}</h1>

        <ul class="labels">
            <li class="label">
                {% assign category = case._embedded["wp:term"][0][0] %}
                {% if category %}
                <a href="{{ category.link }}">{{ category.name }}</a>
                {% endif %}
            </li>
            <li class="label">
                <p><img src="/assets/clock-icon.svg" alt="" width="15" height="15">Leestijd: {{
                    case.yoast_head_json.twitter_misc["Geschatte leestijd"] }}</p>
            </li>
            <li class="label">
                <p><img src="/assets/agenda-icon.svg" alt="" width="15" height="15">{{ case.date | date: "%-d %B %Y" }}
                </p>
            </li>
        </ul>


        <section class="team-sectie">
            <h2>Het team achter dit project:</h2>
            <ul class="team">
                {% if projectLeider %}
                <li class="projectleider">
                    {% if projectLeider.profile_image_url %}
                    <img src="{{ projectLeider.profile_image_url }}" alt="{{ projectLeider.display_name }}" width="96"
                        height="96">
                    {% endif %}
                    <h3>{{ projectLeider.display_name | split: " " | first | capitalize }}</h3>
                    <p>{{ projectLeider.role }}</p>
                </li>
                {% endif %}

                {% if teamLeden.size > 0 %}
                {% for teamlid in teamLeden %}
                <li class="teamlid">
                    {% if teamlid.profile_image_url %}
                    <img src="{{ teamlid.profile_image_url|default:'/assets/nathaniel-profile.png' }}"
                        alt="{{ teamlid.display_name }}" width="96" height="96">
                    {% endif %}
                    <h3>{{ teamlid.display_name | split: " " | first | capitalize }}</h3>
                    <p>{{ teamlid.role| default: 'Front-end developer'}}</p>
                </li>
                {% endfor %}
                {% endif %}
    </section>
</header>

<section class="case-detail-content">
    <p>{{ case.content.rendered }}</p>

    {% if case.acf.case_projectleider.user_avatar %}
    <div class="projectleider">
        <p>Meer weten over dit project? Neem contact op met de projectleider:</p>
        <div class="wrapper-projectleider">
            {{ case.acf.case_projectleider.user_avatar | raw }}
            <div class="info">
                <p><span class="text-bold">{{ case.acf.case_projectleider.display_name }}</span>,<span
                        class="second">projectleider</span></p>
                <a href="mailto:{{ case.acf.case_projectleider.user_email }}">{{ case.acf.case_projectleider.user_email
                    }}</a>
            </div>
        </div>
    </div>
    {% endif %}

    <section class="share-sectie">
        <h3><span class="text-bold">Deel</span> dit blogbericht via</h3>
        <ul class="share-buttons">
            <li class="share">
                <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
                    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16.1367 4.59375C16.1367 4.76953 16.1367 4.91016 16.1367 5.08594C16.1367 9.97266 12.4453 15.5625 5.66016 15.5625C3.55078 15.5625 1.61719 14.9648 0 13.9102C0.28125 13.9453 0.5625 13.9805 0.878906 13.9805C2.60156 13.9805 4.18359 13.3828 5.44922 12.3984C3.83203 12.3633 2.46094 11.3086 2.00391 9.83203C2.25 9.86719 2.46094 9.90234 2.70703 9.90234C3.02344 9.90234 3.375 9.83203 3.65625 9.76172C1.96875 9.41016 0.703125 7.93359 0.703125 6.14062V6.10547C1.19531 6.38672 1.79297 6.52734 2.39062 6.5625C1.37109 5.89453 0.738281 4.76953 0.738281 3.50391C0.738281 2.80078 0.914062 2.16797 1.23047 1.64062C3.05859 3.85547 5.80078 5.33203 8.85938 5.50781C8.78906 5.22656 8.75391 4.94531 8.75391 4.66406C8.75391 2.625 10.4062 0.972656 12.4453 0.972656C13.5 0.972656 14.4492 1.39453 15.1523 2.13281C15.9609 1.95703 16.7695 1.64062 17.4727 1.21875C17.1914 2.09766 16.6289 2.80078 15.8555 3.25781C16.5938 3.1875 17.332 2.97656 17.9648 2.69531C17.4727 3.43359 16.8398 4.06641 16.1367 4.59375Z"
                            fill="#E2655E" />
                    </svg>
                </a>
            </li>
            <li class="share">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" target="_blank">
                    <svg width="10" height="19" viewBox="0 0 10 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.55859 3.23828C6.25781 3.23828 5.97656 3.87109 5.97656 4.82031V7H9L8.57812 10.1992H5.97656V18.25H2.67188V10.1992H0V7H2.67188V4.50391C2.67188 1.76172 4.35938 0.25 6.78516 0.25C7.98047 0.25 8.96484 0.355469 9.28125 0.390625V3.23828H7.55859Z"
                            fill="#E2655E" />
                    </svg>
                </a>
            </li>

            <li class="share">
                <a href="whatsapp://send?text=GFG Example for whatsapp sharing" data-action="share/whatsapp/share"
                    target="_blank">
                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13.3594 2.69531C14.8359 4.17188 15.75 6.10547 15.75 8.21484C15.75 12.5039 12.1641 16.0195 7.83984 16.0195C6.53906 16.0195 5.27344 15.668 4.11328 15.0703L0 16.125L1.08984 12.082C0.421875 10.9219 0.0351562 9.58594 0.0351562 8.17969C0.0351562 3.89062 3.55078 0.375 7.83984 0.375C9.94922 0.375 11.918 1.21875 13.3594 2.69531ZM7.83984 14.6836C11.4258 14.6836 14.4141 11.7656 14.4141 8.21484C14.4141 6.45703 13.6758 4.83984 12.4453 3.60938C11.2148 2.37891 9.59766 1.71094 7.875 1.71094C4.28906 1.71094 1.37109 4.62891 1.37109 8.17969C1.37109 9.41016 1.72266 10.6055 2.35547 11.6602L2.53125 11.9062L1.86328 14.2969L4.32422 13.6289L4.53516 13.7695C5.55469 14.3672 6.67969 14.6836 7.83984 14.6836ZM11.4258 9.83203C11.6016 9.9375 11.7422 9.97266 11.7773 10.0781C11.8477 10.1484 11.8477 10.5352 11.6719 10.9922C11.4961 11.4492 10.7227 11.8711 10.3711 11.9062C9.73828 12.0117 9.24609 11.9766 8.01562 11.4141C6.04688 10.5703 4.78125 8.60156 4.67578 8.49609C4.57031 8.35547 3.90234 7.44141 3.90234 6.45703C3.90234 5.50781 4.39453 5.05078 4.57031 4.83984C4.74609 4.62891 4.95703 4.59375 5.09766 4.59375C5.20312 4.59375 5.34375 4.59375 5.44922 4.59375C5.58984 4.59375 5.73047 4.55859 5.90625 4.94531C6.04688 5.33203 6.46875 6.28125 6.50391 6.38672C6.53906 6.49219 6.57422 6.59766 6.50391 6.73828C6.15234 7.47656 5.73047 7.44141 5.94141 7.79297C6.71484 9.09375 7.45312 9.55078 8.61328 10.1133C8.78906 10.2188 8.89453 10.1836 9.03516 10.0781C9.14062 9.9375 9.52734 9.48047 9.63281 9.30469C9.77344 9.09375 9.91406 9.12891 10.0898 9.19922C10.2656 9.26953 11.2148 9.72656 11.4258 9.83203Z"
                            fill="#E2655E" />
                    </svg>
                </a>
            </li>
            <li class="share">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" target="_blank">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M3.51562 16H0.246094V5.48828H3.51562V16ZM1.86328 4.08203C0.84375 4.08203 0 3.20312 0 2.14844C0 1.12891 0.84375 0.25 1.86328 0.25C2.91797 0.25 3.76172 1.12891 3.76172 2.14844C3.76172 3.20312 2.91797 4.08203 1.86328 4.08203ZM15.75 16H12.4805V10.9023C12.4805 9.67188 12.4453 8.125 10.793 8.125C9.07031 8.125 8.82422 9.42578 8.82422 10.7969V16H5.55469V5.48828H8.68359V6.92969H8.71875C9.17578 6.12109 10.2305 5.24219 11.8125 5.24219C15.1172 5.24219 15.75 7.42188 15.75 10.2344V16Z"
                            fill="#E2655E" />
                    </svg>
                </a>
            </li>
        </ul>
    </section>

    <section class="contact-formulier">
        <div class="contact-wrapper">
            <form class="contact-form" method="POST" action="/cases/{{ cases[0].slug }}"
                data-enhanced="form-{{ cases[0].slug }}">

                <div class="form-content">
                    {% if not submitted %}
                    <h4>Enthousiast geworden of benieuwd wat we voor jou kunnen <span
                            class="text-bold">betekenen</span>?</h4>
                    <p>Laat je gegevens achter, we nemen contact met je op om de mogelijkheden te bespreken.</p>

                    <input type="hidden" name="casetitleField" value="{{ cases[0].title.rendered }}">

                    <div class="wrapper-input">
                        <label for="voornaam">Voornaam*</label>
                        <input type="text" name="nameField" id="voornaam" placeholder="bijv. Sanne" required>
                        <span></span>
                    </div>

                    <div class="wrapper-input">
                        <label for="achternaam">Achternaam*</label>
                        <input type="text" name="lastnameField" id="achternaam" placeholder="bijv. Hogeveld" required>
                        <span></span>
                    </div>

                    <div class="wrapper-input">
                        <label for="email">E-mailadres*</label>
                        <input type="email" name="emailField" id="email" placeholder="bijv. sanne.hogeveld@gmail.com"
                            required>
                        <span></span>
                    </div>

                    <div class="wrapper-input">
                        <label for="bericht">Bericht*</label>
                        <textarea name="textField" id="bericht"
                            placeholder="Hi Label Vier, ik ben benieuwd of jullie me kunnen helpen met..."
                            required></textarea>
                        <span></span>
                    </div>

                    <button class="red-btn" type="submit">Gegevens verzenden</button>

                    {% else %}
                    <section class="succes-state">
                        <img src="/assets/check-icon-succs.svg" alt="" width="20" height="20" loading="eager">
                        <h3>Gelukt! Gegevens verstuurd</h3>
                        <p>Jouw gegevens zijn opgestuurd,<br> er wordt zo snel mogelijk contact met je opgenomen.</p>
                    </section>
                    {% endif %}
                </div>

                <section class="loading">
                    <img src="/assets/spinner.svg" alt="" width="20" height="20">
                    <h3>Gegevens versturen..</h3>
                    <p>Het ingevulde formulier is nu bezig<br> met het verzenden.</p>
                </section>

            </form>
        </div>
    </div>

    <a class="vorige-btn" href="/cases/page/1">
        <svg width="15" height="15" viewBox="0 0 71 61" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M39.4238 1.39441C40.2552 0.578263 41.5595 0.53845 42.4365 1.26746L42.6055 1.42371L68.4531 27.7499H68.5V27.7977L69.6055 28.9237L69.7568 29.0936C70.4146 29.9134 70.4145 31.0863 69.7568 31.9061L69.6055 32.076L42.6055 59.576C41.7349 60.4627 40.3105 60.4759 39.4238 59.6053C38.5372 58.7348 38.524 57.3104 39.3945 56.4237L63.1289 32.2499H3C1.75736 32.2499 0.75 31.2425 0.75 29.9999C0.750055 28.7573 1.75739 27.7499 3 27.7499H62.1465L39.3945 4.57605L39.2412 4.40417C38.5286 3.51386 38.5926 2.21055 39.4238 1.39441Z"
                fill="black" />
        </svg>
        Vorige
    </a>
</section>

{% render 'partials/mogelijkheden.liquid' %}

<div class="scroll-to-top">
    <a class="scroll-btn" href="#">
        <img src="/assets/arrow-up.svg" alt="" width="17" height="17">
        <span>Boven</span>
    </a>
</div>

{% endfor %}

<script src="/scripts/form.js"></script>

{% render "partials/foot.liquid" %}