{% render "partials/head.liquid" %}

{% for case in cases %}

<ul class="breadcrumbs" id="inhoud">
    <li><a href="/">Home</a>»</li>
    <li><a href="/cases/page/1">Cases</a>»</li>
    <li><a href="{{ case.slug }}">{{ case.title.rendered }}</a></li>
</ul>

<header class="cases-detail-banner">
    <img class="banner" src="{{ case.yoast_head_json.og_image[0].url }}" alt="" width="400" height="400">
    <img class="banner" src="{{ case.yoast_head_json.og_image[0].url }}" alt="{{ case.title.rendered }}" width="400" height="400">

    <section class="introductie">
        <h1>{{ case.title.rendered }}</h1>

        <ul class="labels">
            <li class="label">
                {% assign category = case._embedded["wp:term"][0][0] %}
                {% if category %}
                <p>{{ category.name }}</p>
                {% endif %}
            </li>
            <li class="label">
                <p><img src="/assets/clock-icon.svg" alt="" width="15" height="15">Leestijd: {{
                    case.yoast_head_json.twitter_misc["Geschatte leestijd"] }}</p>
            </li>
            <li class="label">
                <p><img src="/assets/agenda-icon.svg" alt="" width="15" height="15">{{ case.date | date: "%-d %B %Y" }}
                </p>
            </li>
        </ul>


        <section class="team-sectie">
            <h2>Het team achter dit project:</h2>
            <ul class="team">
                {% if projectLeider %}
                <li class="projectleider">
                    {% if projectLeider.profile_image_url %}
                    <img src="{{ projectLeider.profile_image_url }}" alt="{{ projectLeider.display_name }}" width="96"
                        height="96">
                    {% endif %}
                    <h3>{{ projectLeider.display_name | split: " " | first | capitalize }}</h3>
                    <p>{{ projectLeider.role }}</p>
                </li>
                {% endif %}

                {% if teamLeden.size > 0 %}
                {% for teamlid in teamLeden %}
                <li class="teamlid">
                    {% if teamlid.profile_image_url %}
                    <img src="{{ teamlid.profile_image_url|default:'/assets/nathaniel-profile.png' }}"
                        alt="{{ teamlid.display_name }}" width="96" height="96">
                    {% endif %}
                    <h3>{{ teamlid.display_name | split: " " | first | capitalize }}</h3>
                    <p>{{ teamlid.role| default: 'Front-end developer'}}</p>
                </li>
                {% endfor %}
                {% endif %}
            </ul>

            <a class="red-btn" href="#contact-form">Mogelijkheden bespreken</a>
        </section>

    </section>
</header>

<section class="case-detail-content">
    <p>{{ case.content.rendered }}</p>

    {% if case.acf.case_projectleider.user_avatar %}
    <div class="projectleider">
        <p>Meer weten over dit project? Neem contact op met de projectleider:</p>
        <div class="wrapper-projectleider">
            {{ case.acf.case_projectleider.user_avatar | raw }}
            <div class="info">
                <p><span class="text-bold">{{ case.acf.case_projectleider.display_name }}</span>,<span
                        class="second">projectleider</span></p>
                <a href="mailto:{{ case.acf.case_projectleider.user_email }}">{{ case.acf.case_projectleider.user_email
                    }}</a>
            </div>
        </div>
    </div>
    {% endif %}

    <section class="share-sectie" id="contact-form" >
        <h3><span class="text-bold">Deel</span> dit blogbericht via</h3>
        <ul class="share-buttons">
            <li class="share">
                <a class="twitter-share-button" href="https://twitter.com/intent/tweet" aria-label="Deel op Twitter">{% render 'public/assets/twitter.liquid' %}</a>
            </li>
            <li class="share">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" target="_blank" aria-label="Deel op Facebook">{% render 'public/assets/facebook.liquid' %}</a>
            </li>

            <li class="share">
                <a href="whatsapp://send?text=GFG Example for whatsapp sharing" data-action="share/whatsapp/share"
                    target="_blank" aria-label="Deel op Whatsapp">{% render 'public/assets/whatsapp.liquid' %}</a>
            </li>
            <li class="share">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" target="_blank"
                    aria-label="Deel op LinkedIN">{% render 'public/assets/linkedin-in.liquid' %}</a>
            </li>
        </ul>
    </section>

    <section class="contact-formulier">
        <div class="contact-wrapper">
            <form class="contact-form" method="POST" action="/cases/{{ cases[0].slug }}"
                data-enhanced="form-{{ cases[0].slug }}">

                <div class="form-content">
                    {% if not submitted %}
                    <h4>Enthousiast geworden of benieuwd wat we voor jou kunnen <span
                            class="text-bold">betekenen</span>?</h4>
                    <p>Laat je gegevens achter, we nemen contact met je op om de mogelijkheden te bespreken.</p>

                    <input type="hidden" name="casetitleField" value="{{ cases[0].title.rendered }}">

                    <div class="wrapper-input">
                        <label for="voornaam">Voornaam*</label>
                        <input type="text" name="nameField" id="voornaam" placeholder="bijv. Sanne" required>
                        <span></span>
                    </div>

                    <div class="wrapper-input">
                        <label for="achternaam">Achternaam*</label>
                        <input type="text" name="lastnameField" id="achternaam" placeholder="bijv. Hogeveld" required>
                        <span></span>
                    </div>

                    <div class="wrapper-input">
                        <label for="email">E-mailadres*</label>
                        <input type="email" name="emailField" id="email" placeholder="bijv. sanne.hogeveld@gmail.com"
                            required>
                        <span></span>
                    </div>

                    <div class="wrapper-input">
                        <label for="bericht">Bericht*</label>
                        <textarea name="textField" id="bericht"
                            placeholder="Hi Label Vier, ik ben benieuwd of jullie me kunnen helpen met..."
                            required></textarea>
                        <span></span>
                    </div>

                    <button class="blue-btn" type="submit">Gegevens verzenden</button>

                    {% else %}
                    <section class="succes-state">
                        <img src="/assets/check-icon-succs.svg" alt="" width="20" height="20" loading="eager">
                        <h3>Gelukt! Gegevens verstuurd</h3>
                        <p>Jouw gegevens zijn opgestuurd,<br> er wordt zo snel mogelijk contact met je opgenomen.</p>
                    </section>
                    {% endif %}
                </div>

                <section class="loading">
                    <img src="/assets/spinner.svg" alt="" width="20" height="20">
                    <h3>Gegevens versturen..</h3>
                    <p>Het ingevulde formulier is nu bezig<br> met het verzenden.</p>
                </section>

            </form>
        </div>
    </div>

    <a class="vorige-btn" href="/cases/page/1">
        <svg width="15" height="15" viewBox="0 0 71 61" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M39.4238 1.39441C40.2552 0.578263 41.5595 0.53845 42.4365 1.26746L42.6055 1.42371L68.4531 27.7499H68.5V27.7977L69.6055 28.9237L69.7568 29.0936C70.4146 29.9134 70.4145 31.0863 69.7568 31.9061L69.6055 32.076L42.6055 59.576C41.7349 60.4627 40.3105 60.4759 39.4238 59.6053C38.5372 58.7348 38.524 57.3104 39.3945 56.4237L63.1289 32.2499H3C1.75736 32.2499 0.75 31.2425 0.75 29.9999C0.750055 28.7573 1.75739 27.7499 3 27.7499H62.1465L39.3945 4.57605L39.2412 4.40417C38.5286 3.51386 38.5926 2.21055 39.4238 1.39441Z"
                fill="black" />
        </svg>
        Vorige
    </a>
</section>

{% endfor %}

{% render 'partials/mogelijkheden.liquid' %}

<div class="scroll-to-top">
    <a class="scroll-btn" href="#">
        <img src="/assets/arrow-up.svg" alt="" width="17" height="17">
        <span>Boven</span>
    </a>
</div>

<script src="/scripts/form.js"></script>

{% render "partials/footer.liquid" %}