{% render "partials/head.liquid" %}

{% for case in cases %}

<header class="cases-detail-banner">
    <div class="case-content">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/cases">Cases</a></li>
            <li><a href="{{ case.slug }}">{{ case.title.rendered }}</a></li>
        </ul>

        <img src="{{ case.yoast_head_json.og_image[0].url }}" alt="" width="400" height="400">
    </div>

    <section class="introductie">
        <h1>{{ case.title.rendered | truncatewords: 8 }}</h1>

        <ul class="labels">
            <li class="label">
                <p>Leestijd: {{ case.yoast_head_json.twitter_misc["Geschatte leestijd"] }}</p>
            </li>
            <li class="label">
                <p>{{ case.date | date: "%-d %B %Y" }}</p>
            </li>
            <li class="label">
                {% assign category = case._embedded["wp:term"][0][0] %}
                {% if category %}
                <a href="{{ category.link }}">{{ category.name }}</a>
                {% endif %}
            </li>
        </ul>
    </section>
</header>

<section class="case-detail-content">
    <p>{{ case.content.rendered }}</p>

    {% if case.acf.case_projectleider.user_avatar %}
    <div class="projectleider">
        <p>Meer weten over dit project? Neem contact op met de projectleider:</p>
        {{ case.acf.case_projectleider.user_avatar | raw }}
        <div class="info">
            <p>{{ case.acf.case_projectleider.display_name }}</p>
            <a href="mailto:{{ case.acf.case_projectleider.user_email }}">{{ case.acf.case_projectleider.user_email
                }}</a>
        </div>
    </div>
    {% endif %}

    <section class="share-sectie">
        <h3>Deel dit blogbericht via</h3>
        <ul class="share-buttons">
            <li class="share">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com"
                    target="_blank">Facebook</a>
            </li>
            <li class="share">
                <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Twitter</a>
            </li>
            <li class="share">
                <a href="whatsapp://send?text=GFG Example for whatsapp sharing" data-action="share/whatsapp/share"
                    target="_blank"> Whatsapp
                </a>
            </li>
            <li class="share">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com"
                    target="_blank">LinkedIn</a>
            </li>
        </ul>
    </section>

    <section class="contact-formulier">
        <h4>Vragen of benieuwd naar de mogelijkheden?</h4>
        <p>Vul hieronder je contactgevens in en we nemen zo snel mogelijk contact met je op.</p>

        <form method="POST" action="/cases/{{ case.slug }}">
            <label for="voornaam">Voornaam:</label><br>
            <input type="text" name="voornaam" id="voornaam" required><br><br>

            <label for="achternaam">Achternaam:</label><br>
            <input type="text" name="achternaam" id="achternaam" required><br><br>

            <label for="email">E-mailadres:</label><br>
            <input type="email" name="email" id="email" required><br><br>

            <label for="bericht">Bericht:</label><br>
            <textarea name="bericht" id="bericht" required></textarea><br><br>

            {% if submitted %}
            <button>Gelukt!! Gegevens zijn verzonden</button>
            {% else %}
            <button type="submit">Gegevens verzenden</button>
            {% endif %}
        </form>
    </section>

    <a class="vorige-btn" href="/cases/page/1">Vorige</a>
</section>

{% render 'partials/mogelijkheden.liquid' %}

{% endfor %}